body {
    counter-reset: h2counter;
}

h1 {
    font-size: 3em;
}

h2 {
    margin-top: 0.5rem;
    font-size: 2.2em;
}

h3 {
    margin-top: 0.5rem;
    font-size: 1.6em;
}

h4 {
    margin-top: 0.2rem;
    font-size: 1.2em;
}

h5 {
    font-size: 1.1em;
}

.accordion .fa-arrow-right{
    display:inline;
}
.accordion .fa-arrow-down{
    display:none;
}
.accordion .active .fa-arrow-right{
    display:none;
}
.accordion .active .fa-arrow-down{
    display:inline;
}

.accordion .accordion-navigation > a, .accordion dd > a {
    background: none;
}

.accordion .accordion-navigation > a:hover,
.accordion dd > a:hover,
.accordion .accordion-navigation.active > a:hover,
.accordion dd.active > a:hover {
    background: #efefef;
}

.accordion .accordion-navigation.active > a, .accordion dd.active > a {
    background: none;
}

ul.rules {
    list-style-type: none;
}

code {
    border: 0;
    font-family: "Lucida Console", Monaco, monospace;
    background: none;
    padding: 0;
}

p code {
    background-color: #f4f4f4;
    padding: 0.3em;
}

.highlight code {
    color: #93a1a1;
}

.highlight {
    background-color: #272822;
}

pre[class*="language-"],
pre {
    padding: 1em;
    margin: .5em 0 1.25rem .5em;
    overflow: auto;
    background-color: #272822;
}

img[alt="PHP Best Practices"] { float: right; }

.article h1 {
    counter-reset: h2counter;
}

.article h2:before {
    content: counter(h2counter) ".\0000a0\0000a0";
    counter-increment: h2counter;
    counter-reset: h3counter;
}

.article h3:before {
    content: counter(h2counter) "." counter(h3counter) ".\0000a0\0000a0";
    counter-increment: h3counter;
}

.article ol > li {
    counter-increment: root;
}

.article ol > li > ol {
    counter-reset: subsection;
    list-style-type: none;
}

.article ol > li > ol > li {
    counter-increment: subsection;
}

.article ol > li > ol > li:before {
    content: counter(root) "." counter(subsection) ". ";
}