h1 {
    size: 2em;
}

h2 {
    size: em-calc(27);
}

h3 {
    size: 2em;
}

h4 {
    size. 2em;
}

h5 {
    size: 2em;
}

.accordion .fa-arrow-right{
    display:inline;
}
.accordion .fa-arrow-down{
    display:none;
}
.accordion .active .fa-arrow-right{
    display:none;
}
.accordion .active .fa-arrow-down{
    display:inline;
}

.accordion .accordion-navigation > a, .accordion dd > a {
    background: none;
}

.accordion .accordion-navigation > a:hover,
.accordion dd > a:hover,
.accordion .accordion-navigation.active > a:hover,
.accordion dd.active > a:hover {
    background: #efefef;
}

.accordion .accordion-navigation.active > a, .accordion dd.active > a {
    background: none;
}

ul.rules {
    list-style-type: none;
}

code {
    border: 0;
    font-family: "Lucida Console", Monaco, monospace;
}

.highlight {
    background-color: #f5f2f0;
    line-height: 1.2;
    margin: .5em 0;
    padding: 1em;
    overflow-x: auto;
    font-size: 10pt;
}

pre[class*="language-"] {
    padding: 0;
    margin: 0;
    overflow-x: auto;
}
