body {
    counter-reset: h2counter;
    background-color:#333;
}

h1 {
    font-size: 3em;
    font-family: Audiowide;
    text-align: center;
}

h1.article {
    font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
}

h2 {
    margin-top: 0.5rem;
    font-size: 2.2em;
}

h3 {
    margin-top: 0.5rem;
    font-size: 1.6em;
}

h4 {
    margin-top: 0.2rem;
    font-size: 1.2em;
}

h5 {
    font-size: 1.1em;
}

p img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.accordion .fa-arrow-right {
    display: inline;
}

.accordion .fa-arrow-down {
    display: none;
}

.accordion .active .fa-arrow-right {
    display: none;
}

.accordion .active .fa-arrow-down {
    display: inline;
}

.accordion .accordion-navigation > a, .accordion dd > a {
    background: none;
}

.accordion .accordion-navigation > a:hover,
.accordion dd > a:hover,
.accordion .accordion-navigation.active > a:hover,
.accordion dd.active > a:hover {
    background: #efefef;
}

.accordion .accordion-navigation.active > a, .accordion dd.active > a {
    background: none;
}

ul.rules {
    list-style-type: none;
}

code {
    border: 0;
    font-family: "Lucida Console", Monaco, monospace;
    background: none;
    padding: 0;
    font-size: 85%;
}

p code {
    background-color: rgba(0,0,0,0.08);
    padding: 0.2em;
}

.highlight code {
    color: #93a1a1;
}

.highlight {
    background-color: #272822;
}

pre[class*="language-"],
pre {
    padding: 1em;
    margin: .5em 0 1.25rem .5em;
    overflow: auto;
    background-color: #272822;
}

.content-info {
    margin-bottom: 20px;
    text-align: center;
}

.github {
    text-align: center;
    margin-bottom: 10px;
}

.github a,
.github a:visited,
.github a:hover {
    color: #222;
}
