---
layout: default
og_image: "assets/img/shield.jpg"
---

<div class="row" style="padding-top:8px">
    <div class="large-12 columns">

{{ content }}

{% for current in site.admins %}
<div class="row" style="magin-top:8px; margin-bottom:8px;">
    <div class="large-2 columns" style="text-align:center;">
        <a class="th" href="https://facebook.com/{{ current.profile-id }}">
            <img src="http://graph.facebook.com/{{ current.profile-id }}/picture" alt="{{ current.name }}">
        </a>
    </div>
    <div class="large-10 columns">
        <h5>{{ current.name }}</h5>
    </div>
</div>
{% endfor %}

    </div>
</div>

<div id="fb-root"></div>
<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '566418756821183',
      xfbml      : true,
      version    : 'v2.0'
    });
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>
