---
layout: foundation-bootstrap
---
<div class="contain-to-grid">
    <nav class="top-bar" data-topbar role="navigation">
        <ul class="title-area">
            <li class="name">
                <h1><a href="/"><span style="font-family:Audiowide; color:#aaa">PHP[<i class="fa fa-facebook-square"></i>/group]</span></a></h1>
            </li>
            <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
        </ul>

        <section class="top-bar-section">
            <!-- Right Nav Section -->
            <ul class="right">
                <li{% if page.origin == 'getting-started' %} class="active"{% endif %}><a href="/"><i class="fa fa-play"></i> Getting started</a></li>
                <li{% if page.origin == 'faq' %} class="active"{% endif %}><a href="/faq/"><i class="fa fa-fire"></i> our FAQ ({{ site.faq | size }})</a></li>
                <li{% if page.origin == 'admins' %} class="active"{% endif %}><a href="/admins.html"><i class="fa fa-shield"></i> our Staff</a></li>
                <li><a href="https://www.facebook.com/groups/{{ site.fb-group-id }}/"><i class="fa fa-send"></i> to our Facebook Group</a></li>
            </ul>
        </section>
    </nav>
</div>

<div role="main" class="scroll-container" style="background-color:#fff">
{{ content }}
</div>

<footer style="background-color:black; color:white; padding-top:8px; padding-bottom:8px;">
    <div class="row">
        <div class="large-12 column" style="font-size:9pt;">
            <a href="https://github.com/wwphp-fb/">GitHub</a> | <a href="/contributing.html">Contributing</a> | &copy;2014 Administrators of the International PHP Facebook Group
        </div>
    </div>
</footer>
<div style="color:white; padding-top:8px; padding-bottom:8px; text-align:center;">
    <a href="https://travis-ci.org/wwphp-fb/wwphp-fb.github.io">
        <img src="https://travis-ci.org/wwphp-fb/wwphp-fb.github.io.svg?branch=master" alt="travis-ci state">
    </a>
    <p><small>This page is mobile ready and based on HTML5 and <a href="http://foundation.zurb.com/">Foundation 5</a></small></p>
</div>
