---
layout: foundation-bootstrap
---
<div class="contain-to-grid">
    <nav class="top-bar" data-topbar role="navigation">
        <ul class="title-area">
            <li class="name">
                <h1><a href="/"><span style="font-family:Audiowide; color:#aaa">PHP[<i class="fa fa-facebook-square"></i>/group]</span></a></h1>
            </li>
            <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
        </ul>

        <section class="top-bar-section">
            <!-- Right Nav Section -->
            <ul class="right">
                <li{% if page.origin == 'conduct' %} class="active"{% endif %}><a href="/code-of-conduct/"><i class="fa fa-exclamation-triangle"></i> Code of Conduct</a></li>
                <li{% if page.origin == 'staff' %} class="active"{% endif %}><a href="/staff.html"><i class="fa fa-shield"></i> Our Staff</a></li>
                <li{% if page.origin == 'contributors' %} class="active"{% endif %}><a href="/contributors.html"><i class="fa fa-github-square"></i> Contributors</a></li>
                <li><a href="https://www.facebook.com/groups/{{ site.fb-group-id }}/"><i class="fa fa-send"></i> Facebook Group</a></li>
                <li class="has-form">
                    <div id="search">
                    <form action="/search.html" method="get">
                    <div class="row collapse">
                        <div class="large-8 small-9 columns">
                            <input type="text" name="q" id="search-query" placeholder="Find stuff..." autocomplete="off">
                        </div>
                        <div class="large-4 small-3 columns">
                            <input type="submit" class="button" value="Search">
                        </div>
                    </div>
                    </form>
                    </div>
                </li>
            </ul>
        </section>
    </nav>
</div>

<div role="main" class="scroll-container" style="background-color:#fff">
    <div class="row" style="padding-top:40px">
        <div class="large-12 columns">
            {{ content }}
        </div>
    </div>
</div>

<footer style="background-color:black; color:white; padding-top:8px; padding-bottom:8px; text-align:center;">
    <div class="row">
        <div class="large-12 column" style="font-size:9pt;">
            &copy;{{ 'now' | date: "%Y" }} Administrators of the World Wide PHP Facebook Group | <a href="/get-involved/">Get Involved</a>
        </div>
    </div>
</footer>
<div style="color:white; padding-top:8px; padding-bottom:8px; text-align:center;">
    <a href="https://travis-ci.org/wwphp-fb/wwphp-fb.github.io">
        <img src="https://travis-ci.org/wwphp-fb/wwphp-fb.github.io.svg?branch=master" alt="travis-ci state">
    </a>
    <p><small>This page is mobile ready and based on HTML5 and <a href="http://foundation.zurb.com/">Foundation 5</a></small></p>
</div>
