---
layout: default
---
<div class="row" style="padding-top:8px">
    <div class="large-4 columns">
        <div style="text-align:center;">
            <img src="/assets/img/php-faq-small.png" alt="PHP FAQ">
        </div>
        <ul class="side-nav">
        {% for current in site.faq %}
            <li{% if current.title == page.title %} class="active"{% endif %}>
                <a href="{{ current.url }}">{{ current.title }}</a>
            </li>
        {% endfor %}
        </ul>
    </div>
    <div class="large-8 columns" style="padding-top:40px;">
        <h3>{{ page.title }}</h3>

        <div style="margin-bottom: 15px;text-align: center; font-size: 10pt;"><strong>{{ page.read_time }} read</strong>; updated: {{ page.updated }}  </div>

        {{ content }}

        <small>Authored by: <strong>{{ page.author }}</strong> somewhere on <u>earth</u>.</small>
    </div>
</div>
