---
layout: default
---
<div class="row" style="padding-top:8px">
    <div class="large-4 columns">
        <ul class="side-nav">
        {% for current in site.faq %}
            <li{% if current.title == page.title %} class="active"{% endif %}>
                <a href="{{ current.url }}">{{ current.title }}</a>
            </li>
        {% endfor %}
        </ul>
    </div> 
    <div class="large-8 columns">
        {{ content }}
        
        <small>Authored by: <strong>{{ page.author }}</strong> somewhere on <u>earth</u>.</small>
    </div>
</div>